<%= form_for [category, task] do |form| %>
  <% if task.errors.any? %>
    <div class="flex flex-col gap-2 mb-2">
      <% task.errors.full_messages.each do |message| %>
        <div class="alert alert-error">
          <span><%= message %></span>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="card card-bordered border-2">
    <div class="card-body">
      <div>
        <%= form.label :name %>
        <%= form.text_field :name, class: "input input-sm input-bordered w-full" %>
      </div>
      <div>
        <%= form.label :description %>
        <%= form.text_field :description, class: "input input-sm input-bordered w-full" %>
      </div>
      <div>
        <%= form.label :deadline %>
        <%= form.date_field :deadline, class: "input input-sm input-bordered w-full" %>
      </div>
      
      <div class="card-actions mt-5">
        <%= form.submit class: "btn btn-primary btn-sm" %>
        <%= link_to "View", category_task_path(category), class: "btn btn-sm btn-info" if task.id %>
        <%= link_to "All tasks", category_tasks_path(category), class: "btn btn-sm btn-ghost" %>
      </div>
    </div>
  </div>
<% end %>
