<div class="card card-bordered border-2">
  <div class="card-body prose">
    <h2 class="card-title">Name</h2>
    <p><%= @task.name %></p>
    <h2 class="card-title">Description</h2>
    <p><%= @task.description %></p>

    <div class="card-actions justify-end">
      <%= link_to "Edit", edit_category_task_path(@category, @task), class: "btn btn-primary btn-sm" %>
      <%= button_to "Delete", category_task_path(@category, @task), method: :delete, class: "btn btn-error btn-sm" %>
      <%= link_to "All tasks in this category", category_tasks_path, class: "btn btn-ghost btn-sm" %>
    </div>
  </div>
</div>
