<%= form_for category do |form| %>
  <% if category.errors.any? %>
    <div class="flex flex-col gap-2 mb-2">
      <% category.errors.full_messages.each do |message| %>
        <div class="alert alert-error">
          <span><%= message %></span>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="card card-bordered border-2">
    <div class="card-body">
      <div>
        <%= form.label :name %>
        <%= form.text_field :name, class: "input input-sm input-bordered w-full" %>
      </div>
      
      <div class="card-actions mt-5">
        <%= form.submit class: "btn btn-primary btn-sm" %>
        <%= link_to "view", category_path(category), class: "btn btn-sm btn-info" if category.id %>
        <%= link_to "back to categories", categories_path, class: "btn btn-sm btn-ghost" %>
      </div>
    </div>
  </div>
<% end %>
