<!DOCTYPE html>
<html data-theme="lemonade">
  <head>
    <title>JournalApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_pack_tag "application" %>
  </head>

  <body>
    <main class="container mx-auto h-screen pt-28 prose">
      <%= link_to "Home", root_path, class: "btn btn-sm btn-ghost mb-5 max-w-sm gap-2 justify-start" if params[:action] != "home"  %>
      <%= yield %>
    </main>
  </body>
</html>
